{
    "remotePath": "./public_html/lp",
    "host": "todorescu.com",
    "username": "tod0resc1",
    "password": "*********",
    "port": 21,
    "secure": false,
    "protocol": "ftp",
    "uploadOnSave": false,
    "passive": false,
    "debug": false,
    "privateKeyPath": null,
    "passphrase": null,
    "agent": null,
    "allow": [],
    "ignore": [
        "\\.vscode",
        "\\.git",
        "\\.DS_Store"
    ],
    "generatedFiles": {
        "extensionsToInclude": [
            "*"
        ],
        "path": ""
    }
}