<?php

$version_lp = '0.0.1';

$mysql_host = 'localhost';
$mysql_user = $isDev ? '***********' : ''***********_live';
$mysql_pass = $isDev ? '***********' : '***********';
$mysql_db = $isDev ? '''***********' : '''***********_live';

$emailoctopus_all_members = '********-****-****-****-*************';
$emailoctopus_newsletter = '********-****-****-****-*************';
$emailoctopus_vsl = '********-****-****-****-*************';
$emailoctopus_api_url = 'https://emailoctopus.com/api/1.6';
$emailoctopus_api_key = '********-****-****-****-*************';
